div.container {
    width: 100%;
    border: 1px solid gray;
}

header {
    padding: 1em;
    color: black;
    clear: left;
    text-align: center;
    
    max-height: 250px;
}

footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: left;
}

nav {
    display: block;
    float: top;
    max-width: 100%;
    margin: 0;
    padding: 1em;
}

aside {
    float: right;
    max-width: 180px;
    height: 100%;
    margin: 0;
    padding: 1em;
    background-color: black;
    color:white;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
    font-size: 130%;
}

article {
    margin-left: 60px;
    margin-right: 190px;
    border-right: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    font-size: 160%;
    text-align:justify;
    min-height: 300px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: none;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 25px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}

/*ol.dec {list-style-type: decimal;}*/

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

